* {
    border: solid 1px black;
}

h3 {
    font-size: 20px;
}

.card {
    background-color: grey;
    margin: 0 0 10px 10px;
    padding: 5px;
}

.icon {
    width: 20%;
    background-color: rgb(188, 188, 188);
    border-radius: 12px;
}

p {
    margin: 0;
}